*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
}
h1{
    color:antiquewhite;
    text-transform: uppercase;
}
#forr{
    color: aquamarine;
    border: 2px solid white;
    border-radius: 30px 10px;
    height: 500px;
    width: 450px;
    font-size: 20px;
    text-align: center; 
    box-shadow: 10px 10px 10px 10px;
    margin: 100px;
}
#forr button{
    margin: 45px;
    height: 35px;
    width: 85px;
    font-size: 16px;
    background-color:darkseagreen;
    border-radius: 10px;
    box-shadow: 5px 5px 5px greenyellow;
}
#forr .intt{
    text-align: center;
    height: 30px;
    font-size: 20px;
}